<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_my_sabji_wala_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_my_sabji_wala_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.SabjiWala">

        <activity android:name=".update_activity.UpdateActivity"></activity>
        <activity android:name=".order_view.OrderViewActivity" />
        <activity
            android:name=".splash_activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".cart_activity.CartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SabjiWala.NoActionBar" />
        <activity
            android:name=".order_confirmation.OrderConfirmationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SabjiWala.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".choose_package.ChooseSabjiWalaActivity"
            android:label="@string/title_activity_choose_sabji_wala"
            android:screenOrientation="portrait" />
        <activity
            android:name=".account.AccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".shop_activity.ShopActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SabjiWala.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SabjiWala.NoActionBar" />
        <activity
            android:name=".login.SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SabjiWala.NoActionBar" />
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SabjiWala.NoActionBar" />
        <activity
            android:name=".login.VerifyPhoneActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SabjiWala.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
    </application>

</manifest>